{namespace example.ui.test2}

/**
 * No parameters
 */
{template .simple1Test2 private="true"}
<div class="{css style1} {css style2}">{msg desc="Test simple1Test2 template text"}Simple template{/msg}</div>
{/template}