{namespace states.ui.test}

/**
 *
 */
{template .main}
<div>{msg desc="Комната"}Комната{/msg}
<div class="{css l-back}">{msg desc="Кнопка перехода к Intro"}Back to Intro{/msg}</div>
<div class="{css l-test-content}"></div>
</div>
{/template}